@model Budgeter.Models.Account

@{
    Layout = null;
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title" id="myModalLabel"><i class="fa fa-home"></i> Account: @Model.Name</h4>
</div>
<div class="modal-body">
    Are you sure you want to delete this account?
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <input type="submit" value="Confirm" class="btn btn-primary" id="del" />
</div>

<script>
    $('#del').on("click", function () {
        debugger;
        event.preventDefault();
        deleteAccount(@Model.id, @Model.HouseholdId);
    });

    function deleteAccount(i, e) {
        $.ajax({
            type: "POST",
            url: "/Household/ConfirmDeleteAccount/" + i,
            data: i,
            success: function (data) {
                debugger;
                if (data.success == false) {
                    alert(data.errorMessage);
                }
                else {
                    $('div#loadaccount').load('/Household/LoadAccounts/' + e, function () {
                        $.post('@Url.Action("GetBarChart", "Home")').then(function (response) {
                            data = response;
                            barChart.setData(response);
                            $('#latestTransactions').load('/Household/_LatestTransactions/' + e);
                        });
                        $('#displayModal').modal('hide');
                    });
                }
            },
            error: function () {
                alert("Post action failed");
            }
        });
    };
</script>