@model Budgeter.Models.Account

@{
    ViewBag.Title = Model.Name + ": Transactions";
}

@section icon
{
    <i class="fa fa-credit-card"></i>
}

<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            
        </div>
        <div class="panel-body">
            <a href="@Url.Action("AddTransaction","Household", new { id = Model.id })" data-toggle="modal" data-target="#dataModal" class="btn btn-primary pull-right">Add Transaction</a>

            <div id="loadtransactions">
                @Html.Partial("_Transactions")
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="dataModal" tabindex="-1" role="dialog" aria-labelledby="displayModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="loadhere">
        </div>
    </div>
</div>

@*@section css
{
    <link href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" rel="stylesheet" />
}*@

@section scripts
{
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<script>
    $(function () {
        $('#t-table').DataTable({
            "bSort":false,
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "info": true,
            "autoWidth": false
        });

        $('body').on('hidden.bs.modal', '.modal', function () {
            $(this).removeData('bs.modal');
        });

        $(document).on("change", "input[type='number']", function () {
            var v = $(this).val(),
                t = parseInt(v, 10),
                b = isNaN(t);
            if (b) {
                $(this).val('');
            }
            else {
                $(this).val(Math.abs(t));
            }
        });

        $(document).on("keypress", "input[type='number']", function () {
            if (event.which == 45 || event.which == 109 || event.which == 189) {
                event.preventDefault();
            }
        });

    });
</script>
}