.profile-icon {
    width: 200%!important;
    height: auto!important;
    position: relative;
    top: -8px;
    left: -11px;
}

select {
    width: 100%;
}

#tabletoggle {
    margin-bottom: 15px;
}

#tdate {
    line-height:inherit;
}

.load {
    display:    none;
    position:   fixed;
    z-index:    2000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .7 ) 
                url('../img/clock.gif')
                50% 50% 
                no-repeat;
    transition: all 0.5s ease;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .load {
    display: block;
}

.void {
    color:#b3b3b3;
}